$black: #000;
$black-900: #2d2d2d;
$black-700: #555;
$black-600: #808080;
$black-500: #aaa;
$black-200: #cacbcc;
$black-100: #f2f0eb;
$white: #fff;

$brand-a: #4056a1;
$brand-b: #c5cbe3;
$brand-c: #efe2ba;
$brand-d: #d79922;
$brand-e: #f13c20;

$success: #c6f1c6;
$error: $brand-a;

// Media breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$header-font: "Merriweather", "Times New Roman", Times, serif;

$body-font: "Montserrat", arial, sans-serif;
